.App {
  font-family: sans-serif;
  text-align: center;
}

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.comment-head-text {
  font-weight: bold;
  padding-left: 10px;
}
